@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.chat-content {
    background-color: #F3F6FB;
    width: 70%;
    margin: 0 auto;
    border-radius: 25px;
    padding: 39px;
    height: 80vh;
    overflow: auto;

}

.message {
    text-align: left;
    margin-bottom: 10px;
    display: flex;
}

.message .text-message {
    background-color: #1A233B;
    display: inline-block;
    border-radius: 12px;
    padding: 0 14px;
}

.message>div {
    display: inline-block;
    order: 1;
}

.message img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    vertical-align: top;
    margin-right: 10px;
    object-fit: cover;
    order: 0;
}

.message p.text {
    color: #fff;
    line-height: 15px;
}

.message p.user {
    font-size: 14px;
    margin-top: 3px;
}

.my-message {
    text-align: right;
    margin-bottom: 10px;
    color: black;
}

.my-message .text-message {
    background-color: #fff;
    border-radius: 12px;
    padding: 0 14px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.my-message>div {
    display: inline-block;
}

.my-message img {
    width: 45px;
    border-radius: 50%;
    vertical-align: top;
    margin-left: 10px;
}

.my-message p.text {
    color: #1A233B;
    line-height: 15px;
}

.my-message p.user {
    font-size: 14px;
    margin-top: 3px;
}

.button-enviar{
    margin-bottom: 1rem !important;
}